[submodule "src/hik_camera"]
	path = src/hik_camera
	url = git@codeup.aliyun.com:cygnomatic/ros2_pkg/ros2-hik-camera.git
	branch = main
[submodule "src/ros_tcp_endpoint"]
	path = src/ros_tcp_endpoint
	url = git@codeup.aliyun.com:cygnomatic/ros2_pkg/ROS-TCP-Endpoint.git
	branch = dev-ros2
[submodule "src/ros2_pkg_example"]
	path = src/ros2_pkg_example
	url = git@codeup.aliyun.com:cygnomatic/ros2_pkg/ros2_pkg_exmple.git
