[submodule "src/hik_camera"]
	path = src/hik_camera
	url = https://gitlab.com/rm_vision/ros2-hik-camera.git
	branch = main
[submodule "src/ros_tcp_endpoint"]
	path = src/ros_tcp_endpoint
	url = git@github.com:Unity-Technologies/ROS-TCP-Endpoint.git
	branch = dev-ros2
[submodule "src/armor_detection"]
	path = src/armor_detection
	url = git@github.com:Raven-July/Armor_Detection.git
