version: '3'
services:
  cygnomatic_workspace:
    build:
      dockerfile: Dockerfile.l4t.35
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all